# header = image: /home/soubhik/Downloads/myapp.png
# header = image: res/icons/arch.jpg
#header = None

#imageX = 300
#imageY = 0

# accentColor = 
# headerColor = 
# textColor = 
# borderInactiveColor = 
# placeHolderColor = 

borderWidth = 2
borderRadius = 10

defaultUsername = soubhik
secureMask = * 

showHelp = false
showSession = false

# defaultSession = XORG: <session path>
# defaultUsername = 
