# header = image: /home/soubhik/Downloads/myapp.png
header = text: Arch Linux

# imageX = 
# imageY = 

# accentColor = 
# headerColor = 
# textColor = 
# borderInactiveColor = 
# placeHolderColor = 

borderWidth = 13
borderRadius = 0

secureMask = * 

showHelp = false
showSession = false

# defaultSession = XORG: <session path>
# defaultUsername = 