template = classic

header = image: /home/soubhik/Downloads/myapp.png
header = text: Arch Linux

imageX = 
imageY = 

accentColor = 
headerColor = 
textColor = 
borderInactiveColor = 
placeHolderColor = 

borderWidth = 1
borderRadius = 0

secureMask = * 

showHelp = false
showSession = false

defaultSession = SHELL | XORG: <session path> | WAYLAND: <session path>
defaultUsername = 